* {
  padding: 0%;
  margin: 0%;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 100vh;
  max-width: 100vw;
}

header {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-top: 10px;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.menu {
  margin-right: 10px;
}

.landing-text {
    text-align: center;
    color: #172b4d;
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  
  #landingtext {
    color: #36b37e;
  }

  .landing-section {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-image: url(./icons/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #landingtext2 {
    width: 25rem;
    height: 20rem;
    margin-top: 5rem;
    margin-left: 2.5rem;
  }

  .connect{
    font-family: 'Inter', sans-serif;
    color: #36b37e;
    display: flex;
    margin-left: 2rem;
    margin-top: 1.5rem;
    height: 2rem;
    width: 12rem;
    border: none;
    background: none; 
    font-size: 1.5rem;
    transition: ease-out 1s;
}
.connect:hover {
    color:#172b4d;
}