* {
  padding: 0%;
  margin: 0%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  list-style: none;
  text-decoration: none;
  max-height: 100%;
  max-width: 100%;
}

header {
  margin-top: 1rem;
}

.nav-bar {
  display: flex;
  max-width: 100vw;
  align-items: baseline;
}

.nav-bar-item {
  margin: 2px;
}

.logo {
  margin-left: 1rem;
  flex-grow: 1;
}

.menu {
  margin-right: 2rem;
}

.nav-element {
  list-style-type: none;
  display: none;
}

.landing-section {
  display: inline-block;
  height: 800px;
  max-width: 100vw;
  background-image: url(./icons/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-section section {
  text-align: center;
  color: #172b4d;
  font-size: 1.5rem;
  margin-top: 5rem;
  height: 40vh;
}

#landingtext2 {
  width: auto;
  height: 20rem;
  padding: 20px 30px;
  line-height: 32px;
  text-align: center;
}

.social-media-icons {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 10px 30px;
}

.social-media {
  align-self: baseline;
}

#landingtext {
  color: #2a8660;
}

#title-head {
  margin: auto auto;
  text-align: center;
  width: 300px;
}

.container2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

.arrow {
  height: 3rem;
  margin-top: 9rem;
}

#main-heading {
  width: 10rem;
  margin: 2rem auto;
  text-align: center;
  color: #172b4d;
  font-size: 30px;
}

#indicator {
  margin-top: 1rem;
}

.card-holder {
  display: grid;
  grid-template-rows: auto;
  padding: 40px;
  align-items: center;
  row-gap: 20px;
  justify-items: center;
}

.card-holder-item {
  display: flex;
  width: 18rem;
  max-height: 474px;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 10px;
  align-items: space-between;
}

.holder-image {
  width: 17.9rem;
  height: 474px;
  background-color: #ebf0ee;
  border-radius: 10px;
}

.holder-discription {
  display: flex;
  flex-direction: column;
}

.holder-title {
  font-size: 20px;
  color: #3a4a42;
  text-align: center;
  padding: 20px;
}

.tag {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding: 0 15px;
}

.tag > * {
  font-size: 10px;
  font-weight: bold;
  color: #3a4a42;
  align-items: center;
}

.tag-item {
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  list-style: none;
  flex: 1;
}

.btn {
  align-self: center;
  height: 40px;
  width: 100px;
  margin-top: 30px;
  background-color: #22795b;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  transition: ease-in 0.1s;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:focus {
  background-color: #008552;
}

#title {
  text-align: center;
  color: #172b4d;
}

.about-me {
  padding: 40px 5px;
  display: flex;
  flex-direction: column;
  background-image: url(./icons/About1.svg), url(./icons/About2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -20px right, bottom 20px left;
}

.about-me-body {
  padding: 30px 10px;
  padding-bottom: 0;
  text-align: center;
  color: #42526e;
  line-height: 32px;
  font-size: 20px;
}

.btn-2 {
  align-self: center;
  height: 40px;
  width: 150px;
  margin-top: 30px;
  background-color: #22795b;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  transition: ease-in 0.1s;
}

#btn-2 {
  display: flex;
  justify-content: center;
}

.btn-2:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-2:focus {
  background-color: #008552;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skils-container {
  display: flex;
  flex-direction: column;
  background-color: #ebf0ee;
  height: 40vh;
  width: 80vw;
  margin: 15px;
  border: 1px solid #d0d9d4;
  border-radius: 10px;
  column-gap: 50px;
}

.icon {
  align-self: center;
}

.title {
  text-align: center;
  color: #344563;
  font-size: 10px;
}

.discription {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.skills-tag {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding: 25px;
  flex-wrap: wrap;
}

.skillstag-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  list-style: none;
  flex: 1;
}

.skills-tag > * {
  font-size: 10px;
  font-weight: bold;
  color: #29765b;
  align-items: center;
}

footer {
  margin-top: 50px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./icons/footer.svg);
  background-repeat: no-repeat;
  background-position: bottom 280px right;
}

#footer-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  height: 363px;
  width: 370px;
  color: #172b4d;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

form label input {
  width: 327px;
  height: 48px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0 10px;
}

form label textarea {
  width: 327px;
  height: 80px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0 10px;
}

.btn-footer {
  margin-top: 20px;
  width: 129px;
  height: 48px;
  align-self: center;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

#footer-icons {
  margin-top: 30px;
}

#email {
  margin-top: 20px;
  height: 30vh;
  text-align: center;
  font-weight: 400;
  size: 20px;
  color: #42526e;
}

#footer-indicator {
  padding-top: 200px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.desktop-form {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: none;
  }

  .menu {
    display: none;
  }

  .nav-element {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
  }

  .nav-element a {
    position: relative;
    text-decoration: none;
    color: #172b4d;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .nav-element a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    background: #36b37e;
    height: 3px;
    transition: 0.3s;
  }

  /* Transitions on NavBar */

  .nav-element a:hover::after {
    width: 100%;
  }

  .social-media-icons a {
    transition: all 0.1s ease-in;
  }

  .nav-element a:hover {
    color: #36b37e;
    font-weight: 550;
  }

  .social-media-icons a:hover {
    padding: 5px 5px;
  }

  .container {
    background-image: url(./icons/desktop-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
  }

  .landing-section {
    background-image: none;
    height: 65rem;
  }

  #title-head {
    margin: auto auto;
    text-align: center;
    width: 500px;
  }

  #landingtext2 {
    margin: 3rem 0;
    width: 60rem;
    height: 9rem;
  }

  .landing-section section {
    margin-top: 220px;
  }

  .arrow {
    margin-top: 4rem;
    transition: all 0.5s ease-in-out;
  }

  .arrow:hover {
    transform: translate(0, 25px);
  }

  #indicator {
    display: none;
  }

  .card-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-me-body {
    margin: auto auto;
    width: 950px;
  }

  .about-me {
    padding-top: 100px;
    background-image: url(./icons/right-about-desk.svg), url(./icons/left-about-desk.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top -20px right, bottom 20px left;
  }

  .skills {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    align-items: center;
    row-gap: 20px;
    justify-items: center;
  }

  .skils-container {
    width: 369px;
    height: 352px;
  }

  footer {
    flex-direction: column;
    gap: 100px;
    margin: auto auto;
    background-image: url(./icons/desk-f1.svg), url(./icons/desk-f2.svg), url(./icons/desk-f3.svg);
    background-position: bottom 100px left, bottom 100px left 300px, bottom 100px right;
    background-size: 150px;
  }

  #footer-text {
    margin-left: 50px;
    margin-top: 80px;
    width: 50rem;
    height: 10rem;
    font-size: 30px;
    text-align: center;
    line-height: 143%;
  }

  .mobile-form {
    display: none;
  }

  .desktop-form {
    max-width: 100%;
    display: inline-block;
    flex-direction: row;
    margin-right: 98px;
    width: 100%;
  }

  #footer-desk-btn {
    margin-right: 391px;
  }

  .desktop-form label input {
    width: 340px;
    height: 48px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    padding: 0 10px;
  }

  #desk-email {
    width: 685px;
    height: 48px;
  }

  .desktop-form label textarea {
    width: 685px;
    height: 80px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    padding: 0 10px;
  }

  #email {
    display: none;
  }

  .inner-footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 330px;
  }

  #foot-ind {
    margin-top: 200px;
  }
}
